backend_node-red
[{"id":"be87a743.14bff","type":"tab","label":"typedev","disabled":false,"info":""},{"id":"65b3eba3.ceb084","type":"inject","z":"be87a743.14bff","name":"DEBUG","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":480,"wires":[["78c7d834.d24d38"]]},{"id":"78c7d834.d24d38","type":"mongodb out","z":"be87a743.14bff","mongodb":"17a5649c.c8da5b","name":"REMOVE typedev_user_db","collection":"typedev_user_db","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":420,"y":480,"wires":[]},{"id":"bbb06387.2f5ac","type":"http in","z":"be87a743.14bff","name":"POST typedev_user","url":"/typedev_user","method":"post","upload":false,"swaggerDoc":"","x":130,"y":300,"wires":[["8116ad18.250cb"]]},{"id":"8116ad18.250cb","type":"change","z":"be87a743.14bff","name":"save params","rules":[{"t":"set","p":"request","pt":"msg","to":"payload.request","tot":"msg"},{"t":"set","p":"username","pt":"msg","to":"payload.username","tot":"msg"},{"t":"set","p":"password","pt":"msg","to":"payload.password","tot":"msg"},{"t":"set","p":"games_won","pt":"msg","to":"payload.games_won","tot":"msg"},{"t":"set","p":"games_played","pt":"msg","to":"payload.games_played","tot":"msg"},{"t":"set","p":"requested_user","pt":"msg","to":"payload.requested_user","tot":"msg"},{"t":"set","p":"wpm","pt":"msg","to":"payload.wpm","tot":"msg"},{"t":"set","p":"lang","pt":"msg","to":"payload.language","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":300,"wires":[["450d6b00.1264c4"]]},{"id":"450d6b00.1264c4","type":"mongodb in","z":"be87a743.14bff","mongodb":"89c1f222.07d2","name":"find typedev_user_db","collection":"typedev_user_db","operation":"find","x":560,"y":300,"wires":[["4f15f5e2.89071c","92f24827.be7408"]]},{"id":"4f15f5e2.89071c","type":"function","z":"be87a743.14bff","name":"check user","func":"function registerUser() {\n    return {\n        \"languages_played\": [],\n        \"username\": msg.username,\n        \"password\": msg.password,\n        \"games_won\": 0,\n        \"games_played\": 0,\n        \"wpm\": 0\n    };\n}\n\nfunction getUserIndex(username) {\n    return msg.payload.findIndex(user => user['username'] === username);\n}\n\nfunction getThisUserIndex() {\n    return getUserIndex(msg.username);\n}\n\nfunction checkForUser(username) {\n    return typeof msg.payload.find(user => user['username'] === username) != \"undefined\";\n}\n\nfunction checkForThisUser() {\n    return checkForUser(msg.username);\n}\n\n// saves user db user array as msg.all_users for later usage\n// \n// checks if a user wants to register or something else\n// if user wants to register, a new entry is added to the database\n// else check if user existst, if so add user entry as payload for pw verification and later usage\n\nswitch(msg.request) {\n    case \"register\":\n        if(!checkForThisUser()){\n            msg.payload = registerUser();\n            msg.statuscode = 201;\n        } else {\n            msg.statuscode = 406;\n        }\n        break;\n    default:\n        if(!checkForThisUser()) {\n            msg.statuscode = 404;\n        } else {\n            msg.all_users = msg.payload;\n            msg.payload = msg.payload[getThisUserIndex()];\n            msg.statuscode = 200;\n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["43ed09a1.ab8048"]]},{"id":"43ed09a1.ab8048","type":"switch","z":"be87a743.14bff","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"},{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":960,"y":300,"wires":[["3cadd98.87f7226","48a016cf.c76178"],["e3fcf74f.4db138"],["dcf5e6b6.36ac48"]]},{"id":"e3fcf74f.4db138","type":"bcrypt","z":"be87a743.14bff","name":"verify password","action":"verify","field":"password","hash":"payload.password","rounds":10,"x":1180,"y":280,"wires":[["6ba7bf37.65118"]]},{"id":"3cadd98.87f7226","type":"bcrypt","z":"be87a743.14bff","name":"encrypt password","action":"encrypt","field":"payload.password","hash":"payload.password","rounds":10,"x":1190,"y":180,"wires":[["4f8f5bfb.a4fc74"]]},{"id":"4f8f5bfb.a4fc74","type":"mongodb out","z":"be87a743.14bff","mongodb":"17836ce.a3e1c93","name":"save typedev_user_db","collection":"typedev_user_db","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1420,"y":180,"wires":[]},{"id":"6ba7bf37.65118","type":"switch","z":"be87a743.14bff","name":"","property":"match","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":280,"wires":[["9b605c8b.86645"],["22011623.85fd1a"]]},{"id":"22011623.85fd1a","type":"change","z":"be87a743.14bff","name":"","rules":[{"t":"set","p":"statuscode","pt":"msg","to":"401","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":340,"wires":[["dcf5e6b6.36ac48"]]},{"id":"9b605c8b.86645","type":"change","z":"be87a743.14bff","name":"","rules":[{"t":"delete","p":"password","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":280,"wires":[["a4cc70a9.9bbec","4d3f9a2d.d28644"]]},{"id":"a4cc70a9.9bbec","type":"function","z":"be87a743.14bff","name":"execute request","func":"function genHighscoreWpm() {\n    var highscore = msg.all_users;\n    highscore.sort((a,b) => (parseInt(a.wpm) < parseInt(b.wpm)) ? 1 : (parseInt(b.wpm) < parseInt(a.wpm) ? -1 : 0));\n    if(highscore.length > 10) {\n        highscore.length = 10;\n    }\n    highscore.forEach(user => {delete user.password; delete user._id; delete user.languages_played; delete user.games_played; delete user.games_won;});\n    return highscore;\n}\n\nfunction genHighscoreWon() {\n    var highscore = msg.all_users;\n    highscore.sort((a,b) => (a.games_won < b.games_won) ? 1 : ((b.games_won < a.games_won) ? -1 : 0))\n    if(highscore.length > 10) {\n        highscore.length = 10;\n    }\n    highscore.forEach(user => {delete user.password; delete user._id; delete user.languages_played; delete user.games_played; delete user.wpm;});\n    return highscore;\n}\n\n//\n\nfunction checkForUser(username) {\n    return typeof msg.all_users.find(user => user['username'] === username) != \"undefined\";\n}\n\nfunction getUserIndex(username) {\n    return msg.all_users.findIndex(user => user['username'] === username);\n}\n\nfunction getUserData(username) {\n    var ret = msg.all_users[getUserIndex(username)];\n    return ret\n}\n\nfunction genLanguageScore(user) {\n    var highscore = user.languages_played;\n    highscore.sort((a,b) => (a.played < b.played) ? 1 : ((b.played < a.played) ? -1 : 0))\n    if(highscore.length > 5) {\n        highscore.length = 5;\n    }\n    return highscore;\n}\n\nfunction updateLanguages(user) {\n    for(var i = 0; i < user.languages_played.length; i++) {\n        if(user.languages_played[i].lang === msg.lang) {\n            user.languages_played[i].played += 1;\n            return;\n        }\n    }\n    user.languages_played.push({\"lang\": msg.lang, \"played\": 1});\n    return;\n}\n\nfunction updateThisUser() {\n    if(!(msg.payload.hasOwnProperty(\"languages_played\"))) { \n        msg.payload[\"languages_played\"] = [];\n    }\n    if(msg.lang !== \"null\") {\n        updateLanguages(msg.payload);\n    }\n    \n    msg.payload.games_won = msg.payload.games_won + parseInt(msg.games_won);\n    \n    msg.payload.games_played = msg.payload.games_played + parseInt(msg.games_played);\n    \n    msg.payload.wpm = (parseInt(msg.wpm) > parseInt(msg.payload.wpm)) ? parseInt(msg.wpm) : parseInt(msg.payload.wpm);\n    msg.payload.wpm = (msg.payload.wpm > 2147483647) ? 2147483647 : msg.payload.wpm;\n    \n    return msg.payload;\n}\n\n// user is authenfiticated\n// works requests\n// updates user using the pw hash and username saved in msg.payload aka current user\n\nswitch(msg.request) {\n    case \"authentificate\":\n        msg.statuscode = 202;\n        break;\n\n    case \"request\":\n        if(checkForUser(msg.requested_user)){\n            msg.payload = getUserData(msg.requested_user);\n            msg.statuscode = 200;\n        } else {\n            msg.statuscode = 500;\n        }\n        break;\n        \n    case \"update\":\n        msg.payload = updateThisUser();\n        msg.statuscode = 201;\n        msg._id = msg.username;\n        break;\n        \n    case \"wpm_score\":\n        msg.statuscode = 200;\n        msg.payload = {\"highscore\": genHighscoreWpm()};\n        break;\n    \n    case \"games_won_score\":\n        msg.statuscode = 200;\n        msg.payload = {\"highscore\": genHighscoreWon()};\n        break;\n        \n    case \"languages_score\":\n        if(checkForUser(msg.requested_user)) {\n            msg.statuscode = 200;\n            if(msg.all_users[getUserIndex(msg.requested_user)].hasOwnProperty(\"languages_played\")) {\n                msg.payload = {\"highscore\": genLanguageScore(msg.all_users[getUserIndex(msg.requested_user)])};\n            } else {\n                msg.payload = [];\n            }\n        } else {\n            msg.statuscode = 500;\n        }\n\n        break;\n    \n    case \"delete\":\n        msg.statuscode = 410;\n        msg._id = msg.username;\n        break;\n        \n    default:\n        delete msg.payload;\n        msg.statuscode = 400;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":280,"wires":[["e0079980.a4e2c8","a446496c.f1d238"]]},{"id":"e0079980.a4e2c8","type":"switch","z":"be87a743.14bff","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"},{"t":"eq","v":"410","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":2010,"y":280,"wires":[["e25665cb.99d938","fd5a47d1.051848"],["fd5a47d1.051848","e11bf9ad.37d3a8"],["fd5a47d1.051848"]]},{"id":"e25665cb.99d938","type":"mongodb out","z":"be87a743.14bff","mongodb":"17836ce.a3e1c93","name":"save typedev_user_db","collection":"typedev_user_db","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2240,"y":160,"wires":[]},{"id":"48a016cf.c76178","type":"function","z":"be87a743.14bff","name":"welcome new friend","func":"delete msg.payload.password;\ndelete msg.payload.languages_played;\n\nmsg.payload['statuscode'] = msg.statuscode;\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":120,"wires":[["a90b3367.2282f"]]},{"id":"fd5a47d1.051848","type":"function","z":"be87a743.14bff","name":"this kinda worked","func":"if(msg.statuscode == 200 || msg.statuscode == 202 || msg.statuscode == 201) {\n    delete msg.payload.password;\n    delete msg.payload._id;\n    delete msg.payload.languages_played;\n    msg.payload['statuscode'] = msg.statuscode;\n} else {\n    msg.payload = {'statuscode': msg.statuscode};\n}\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":280,"wires":[["9aca3bb5.0d31a8","585b9d8d.b86b84"]]},{"id":"9aca3bb5.0d31a8","type":"http response","z":"be87a743.14bff","name":"","statusCode":"","headers":{},"x":2450,"y":280,"wires":[]},{"id":"80a4c2d4.5dd8a","type":"http response","z":"be87a743.14bff","name":"","statusCode":"","headers":{},"x":2010,"y":400,"wires":[]},{"id":"a90b3367.2282f","type":"http response","z":"be87a743.14bff","name":"","statusCode":"","headers":{},"x":1410,"y":120,"wires":[]},{"id":"dcf5e6b6.36ac48","type":"function","z":"be87a743.14bff","name":"something went wrong","func":"msg.payload = {'statuscode': msg.statuscode};\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":400,"wires":[["80a4c2d4.5dd8a"]]},{"id":"4d3f9a2d.d28644","type":"debug","z":"be87a743.14bff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1780,"y":220,"wires":[]},{"id":"a446496c.f1d238","type":"debug","z":"be87a743.14bff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2010,"y":100,"wires":[]},{"id":"e11bf9ad.37d3a8","type":"mongodb out","z":"be87a743.14bff","mongodb":"37b641e6.a9ca86","name":"delete typedev_user_db","collection":"typedev_user_db","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":2250,"y":220,"wires":[]},{"id":"92f24827.be7408","type":"debug","z":"be87a743.14bff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":160,"wires":[]},{"id":"585b9d8d.b86b84","type":"debug","z":"be87a743.14bff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2360,"y":400,"wires":[]},{"id":"17a5649c.c8da5b","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"nodeRedDB"},{"id":"89c1f222.07d2","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"nodeRedDB"},{"id":"17836ce.a3e1c93","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"node-red"},{"id":"37b641e6.a9ca86","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"nodeRedDB"}]